<div class="container mt-3">
  <h1>Restaurants</h1>
  <div class="cards mb-3">
    <% @restaurants.each do |restaurant| %>
      <div class="card-product m-3">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
          <%# <p>Product description with <strong>relevant info</strong> only.</p> %>
        </div>
      </div>
    <% end %>
  </div>
</div>
